body {
    all: unset;
}

#homepage-main-frame {
    margin: 1em;
    width: 90vw;
    height: fit-content;
    align-content: center;
    justify-items: center;
}

.homepage-frame-title {
    all:unset;
    color: rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(61, 94, 201);
    border-bottom: solid black 1px;
    font-family: 'Franklin Gothic';
    font-weight: lighter;
    font-size: 24px;
}

.bj-bg {
    background-color: green;
}

#controller {
    display: flex;
    flex-direction: column; 
    background-color: rgb(222, 222, 222);
    width: 100%;
    border: 1px solid black;
}

#homepage-body {
    display: flex;
    justify-content: center;
}

.action-button {
    font-size: large;
    width: 90%;
    align-self: center;
    margin: 5px;
}

#sqlrequest {
    margin: 1em;
    min-width: 90%;
    max-width: 90%;
    min-height: 10%;
    max-height: 20%;
    align-self: center;
}