body {
    all: unset;
}

button {
    border-radius: 5px;
    border: solid 1px;
}

.action-button {
    font-size: large;
    width: 15%;
    transition: ease 150ms;
}

.action-button:hover {
    background-color: rgb(230, 240, 255);
}

.action-button:active {
    background-color: rgb(210, 223, 250);
}

.buttons-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#homepage-main-frame {
    margin: 1em;
    width: 900vw;
    height: fit-content;
    align-content: center;
    justify-items: center;
}

.homepage-frame-title {
    align-self: stretch;
    margin: 0;
    color: rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(61, 94, 201);
    border: solid black 1px;
    border-bottom: 0;
    font-family: 'Franklin Gothic';
    font-weight: lighter;
    font-size: 24px;
}

.bj-bg {
    background-color: green;
}

#controller {
    width: 90%;
}

.game-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 222, 222);
    border: 1px solid black;
    
}

#homepage-body {
    display: flex;
    justify-content: center;
}

#cards-table:empty{
    display: none;
}


#cards-table{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-block: 10px;
    background: #006900;
    background: radial-gradient(circle, rgba(0, 105, 0, 1) 0%, rgb(0, 61, 0) 100%);
    justify-items: center;
    align-items: center;
}

#sqlrequest {
    margin: 1em;
    min-width: 90%;
    max-width: 90%;
    min-height: 10%;
    max-height: 20%;
    align-self: center;
}